rd-attachment {
  display: flex;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;

  &:not(.edit) {
    background-color: lighten($primary-color, 7%);
  }
  &.edit {
    align-self: center;
  }
  & > div {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px;
  }

  & > div > .attachment-icon {
    font-size: 25px;
    padding-right: 15px;
  }

  & > div > .attachment-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  & > div > .attachment-link:hover {
    text-decoration: underline;
  }

  & > div > .block-control {
    font-size: $main-font-size;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover > div > .block-control {
    display: flex;
  }

  & > div > .spacer {
    flex-grow: 2;
  }
}
