.block-control-remove,
.block-control-add-column,
.block-control-add-row,
.block-control-edit,
.block-control-valid {
  font: -webkit-small-control;
  font: medium;
}

#linkInput button,
.toolbar button,
#redige-editor button {
  border: none;
  transition: $ease;

  &:hover:enabled {
    cursor:pointer;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: $btn-opacity-disabled;
    color: $btn-color-disabled;
  }
}

// Add buttons class here instead of add generic class to button's element (as success or error)
.linkInput-btnValid,
.imageInput-linkUrlBtn,
.block-control-valid,
.block-control-add-row,
.block-control-add-column {
  background-color: $btn-valid-bgcolor;
  color: $btn-color;

  &:hover:enabled {
    background-color: darken($btn-valid-bgcolor, $hover-darken-value);
  }
}

.linkInput-btnRemove,
.block-control-remove {
  background-color: $btn-remove-bgcolor;
  color: $btn-color-disabled;

  &:hover:enabled {
    background-color: $btn-remove-bgcolor-hover;
    color: $btn-color;
  }
}

.block-control-edit {
  background-color: $btn-default-bgcolor;
  color: $btn-color;

  &:hover:enabled {
    background-color: darken($btn-default-bgcolor, $hover-darken-value);
  }
}

.linkInput-btnGoTo {
  background-color: $btn-transparent-bgcolor;
  color: $btn-transparent-color;

  &:hover:enabled {
    color: $btn-default-bgcolor;
  }

  &:disabled {
    opacity: $btn-opacity-transparent-disabled;
  }
}
