/**
 * Inspired from prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

rd-division {

  &.blockcode {
    display: flex;
    padding: 5px;
    position: relative;
    margin-left: $code-division-margin-left;
    background-color: $code-division-bgcolor;
    border: 1px solid darken($code-division-bgcolor, 20%);
    border-left: 4px solid darken($code-division-bgcolor, 20%);
    color: $code-font-color;
    font-family: $code-font;
    font-size: $code-font-size;

    text-shadow: 0 1px white;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;

    & .link {
      color: $code-font-color;
      text-decoration: none;
    }
  }

  .code-syntax-comment,
  .code-syntax-prolog,
  .code-syntax-doctype,
  .code-syntax-cdata {
    color: slategray;
  }

  .code-syntax-punctuation {
    color: #999;
  }

  .code-syntax-namespace {
    opacity: .7;
  }

  .code-syntax-property,
  .code-syntax-tag,
  .code-syntax-boolean,
  .code-syntax-number,
  .code-syntax-constant,
  .code-syntax-symbol,
  .code-syntax-deleted {
    color: #905;
  }

  .code-syntax-selector,
  .code-syntax-attr-name,
  .code-syntax-string,
  .code-syntax-char,
  .code-syntax-builtin,
  .code-syntax-inserted {
    color: #690;
  }

  .code-syntax-operator,
  .code-syntax-entity,
  .code-syntax-url {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
  }

  .code-syntax-atrule,
  .code-syntax-attr-value,
  .code-syntax-keyword {
    color: #07a;
  }

  .code-syntax-function {
    color: #DD4A68;
  }

  .code-syntax-regex,
  .code-syntax-important,
  .code-syntax-variable {
    color: #e90;
  }

  .code-syntax-important,
  .code-syntax-bold {
    font-weight: bold;
  }

  .code-syntax-italic {
    font-style: italic;
  }

  .code-syntax-entity {
    cursor: help;
  }
}