rd-section {
  & > .link {
    color: $fourth-color;
    text-decoration: underline;
  }
  & > .bold {
    font-weight: bold;
  }

  & > .italic {
    font-style: italic;
    color: lighten($main-font-color, 5%);
    background-color: transparentize($blockquote-division-bgcolor, 0.9);
    padding-left: 2px;
    padding-right: 2px;
  }

  & > .highlight {
    background: #FFC66D;
    color: #272822;
  }

  & > .comment {
    background: #87CEFA;
  }

  & > .spelling-error {
    border-bottom: 2px dotted red;
  }

  & > .grammar-error {
    border-bottom: 2px dotted green;
  }

  & > .code {
    background-color: lighten($primary-color, 10%);
    font-family: $code-font;
    font-size: $code-font-size;
    color: $code-inline-font-color;
    border-radius: 3px;
    padding: 2px;
  }

  & > .code + .code.bold, .code + .code {
    padding-right: 0;
    padding-left: 0;
  }

  &.hierarchical:not(.level-0) > .code {
    font-size: inherit;
  }
}

