rd-division {
  display: flex;
  flex-direction: column;
  padding: $division-padding;
  margin: $division-margin;

  & > .block-control {
    font-size: $main-font-size;
    display: none;
    position: absolute;
    right: 0;
    margin-top: -5px;
  }

  &:hover > .block-control {
    display: flex;
  }
}
