span {
  white-space: pre-wrap;
}

#editor {
  width: $editor-width;
  margin: $editor-margin;
  padding: $editor-padding;
  outline: none;
}

/* http://codepen.io/ArtemGordinsky/pen/GnLBq */
.fake-cursor-right::after,
.fake-cursor-left::before {
  content: "";
  animation: 1s blink step-end infinite;
  border-right: inherit;
  border-right-width: 1px;
  border-right-style: solid;
  margin-right: -1px;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

rd-document {
}