.division.blockquote > rd-image.image-wrapper:hover {
  background-color: lighten($blockquote-division-bgcolor, 7%);
}

.division.blockcode > rd-image.image-wrapper:hover {
  background-color: lighten($code-division-bgcolor, 7%);
}

.division.unknown > rd-image.image-wrapper:hover {
  background-color: lighten($unknown-division-bgcolor, 7%);
}

rd-image {
  display: block;
  text-align: center;
  & > .image-wrapper {
    display: inline-block;
    margin: 25px;
    align-self: center;
    position: relative;
    border: 1px solid darken($primary-color, 5%);

    & > img {
      max-width: 95%;
      max-height: 400px;
      padding: 18px;
    }

    &:hover {
      background-color: lighten($primary-color, 7%);
    }
    & > .block-control {
      position: absolute;
      top: -4px;
      right: 0;
    }

    &:not(:hover) > .block-control {
      display: none;
    }
  }
}