#linkInput input,
#redige-editor input {
  font-family: $main-font;
  font-weight: $main-font-weight;
  font-size: $input-font-size;
  border: none;
  background-color: $input-bgcolor;
  padding: $input-padding;
}

#linkInput input:focus,
#redige-editor input:focus {
  outline: none;
}

.attachmentInput,
.imageInput {
  margin: 15px auto 15px auto;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $image-input-width;
  height: $image-input-height;
  padding: 10px;
  box-shadow: $outer-box-shadow;
  opacity: 0;
  transition: $ease;

  &.dragover {
    background-color: $second-color;
    border: 1px dashed $third-color;
  }

  & > .block-control {
    position: absolute;
    top: -4px;
    right: 0;
  }

}

.attachmentInput {
  height: $attachment-input-height;
}

.attachmentInput-created,
.imageInput-created {
  opacity: 1;
}

.imageInput-linkUrlDiv {
  font-size: $input-font-size;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.imageInput-linkUrlDiv-notValid {
    outline: 2px solid red;
    color: red;

    &:after {
      content: "Format d'image non pris en charge";
      width: 90%;
      text-align: center;
      position: absolute;
      bottom: 45%;
      left: 5%;
    }
  }
}

.imageInput-linkUrl {
  flex-grow: 2;
}

.attachmentFile,
.imageFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.attachmentFile + .attachmentFile-label,
.imageFile + .imageFile-label {
  width: 85%;
  font-size: $input-font-size;
  text-align: center;
  padding: $input-padding;
  color: $btn-color;
  background-color: $btn-default-bgcolor;
  display: inline-block;
  cursor: pointer;
  transition: $ease;
}

.attachmentFile:focus + .attachmentFile-label,
.attachmentFile + .attachmentFile-label:hover,
.imageFile:focus + .imageFile-label,
.imageFile + .imageFile-label:hover {
  background-color: darken($btn-default-bgcolor, $hover-darken-value);
}

.attachmentFile > span,
.imageInput > span {
  user-select: none;
}