.linkInput {
  position: absolute;
  background-color: $input-bgcolor;
  box-shadow: $outer-box-shadow;
  width: 400px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.linkInput-urlDiv {
  flex-grow: 2;
  display: flex;
}

.linkInput-url {
  flex-grow: 2;
}