rd-division:not(.blockcode).blockquote {
  position: relative;
  padding: 5px;
  margin-left: $code-division-margin-left;
  background-color: $blockquote-division-bgcolor;
  border: 1px solid lighten($blockquote-division-bgcolor, 20%);
  border-left: 4px solid lighten($blockquote-division-bgcolor, 20%);
  font-style: italic;
  color: $quote-font-color;

  .italic {
    color: $quote-font-color;
  }

  .code {
    font-style: normal;
    background-color: lighten($blockquote-division-bgcolor, 10%);
    color: $quote-font-color;
  }

  & > rd-section.hierarchical {
    &.level-1 {
      color: $quote-font-color;
      border-bottom: 1px solid $quote-font-color;
    }

    &.level-2 {
      color: darken($quote-font-color, 2%);
      border-bottom: 1px dotted $quote-font-color;
    }

    &.level-3 {
      color: darken($quote-font-color, 4%);
    }

    &.level-4 {
      color: darken($quote-font-color, 6%);
    }

    &.level-5 {
      color: darken($quote-font-color, 8%);
    }

    &.level-6 {
      color: darken($quote-font-color, 10%);
    }
  }
}