rd-document {
  & > rd-section {
    display: block;

    &:focus {
      outline: none;
    }
  }

  & > rd-section.hierarchical {
    &:not(.level-0) {
      font-family: $title-font;
      font-weight: 600;
      line-height: 1.1;
      margin-top: $title-margin-top;
      margin-bottom: $title-margin-bottom;
      &:before {
        padding-right: $before-padding-right;
        content: attr(numbering);
      }
    }

    &.level-0 {
      padding-left: 0px;
    }

    &.level-1 {
      font-size: $level-1-font-size;
      margin-left: $level-1-margin-left;
      color: $main-font-color;
      border-bottom: 1px solid $main-font-color;
      &:before {
        font-size: $level-1-font-size;
      }
    }

    &.level-2 {
      font-size: $level-2-font-size;
      margin-left: $level-2-margin-left;
      color: darken($main-font-color, 2%);
      border-bottom: 1px dotted $main-font-color;
      &:before {
        font-size: $level-2-font-size;
      }
    }

    &.level-3 {
      font-size: $level-3-font-size;
      margin-left: $level-3-margin-left;
      color: darken($main-font-color, 4%);
      &:before {
        font-size: $level-3-font-size;
      }
    }

    &.level-4 {
      font-size: $level-4-font-size;
      margin-left: $level-4-margin-left;
      color: darken($main-font-color, 6%);
      &:before {
        font-size: $level-4-font-size;
      }
    }

    &.level-5 {
      font-size: $level-5-font-size;
      margin-left: $level-5-margin-left;
      color: darken($main-font-color, 8%);
      &:before {
        font-size: $level-5-font-size;
      }
    }

    &.level-6 {
      font-size: $level-6-font-size;
      margin-left: $level-6-margin-left;
      color: darken($main-font-color, 10%);
      &:before {
        font-size: $level-6-font-size;
      }
    }
  }
  & > rd-section.olist {
    &:before {
      content: attr(numbering);
      padding-right: $before-padding-right;
      font-size: 12px;
    }

    &.level-0:before {
      padding-left: $list-0-padding-left;
    }

    &.level-1:before {
      padding-left: $list-1-padding-left;
    }

    &.level-2:before {
      padding-left: $list-2-padding-left;
    }

    &.level-3:before {
      padding-left: $list-3-padding-left;
    }

    &.level-4:before {
      padding-left: $list-4-padding-left;
    }

    &.level-5:before {
      padding-left: $list-5-padding-left;
    }

    &.level-6:before {
      padding-left: $list-6-padding-left;
    }
  }

  & > rd-section.ulist {
    &:before {
      padding-right: $before-padding-right;
      font-size: 12px;
    }

    &.level-0:before {
      content: '\25CF';
      padding-left: $list-0-padding-left;
    }

    &.level-1:before {
      content: '\25CB';
      padding-left: $list-1-padding-left;
    }

    &.level-2:before {
      content: '\25A0';
      padding-left: $list-2-padding-left;
    }

    &.level-3:before {
      content: '\25A1';
      padding-left: $list-3-padding-left;
    }

    &.level-4:before {
      content: '-';
      padding-left: $list-4-padding-left;
    }

    &.level-5:before {
      content: '\2192';
      padding-left: $list-5-padding-left;
    }

    &.level-6:before {
      content: '\2666';
      padding-left: $list-6-padding-left;
    }
  }
}