rd-table {
  display: flex;
  position: relative;
  margin: $table-margin;

  & > table {
    table-layout: fixed;
    border-collapse: collapse;
    word-break: break-all;
    width: 100%;

    tbody {
      width: 100%;
    }

    tr {
      width: 100%;

      &:hover {
        .row-control {
          display: inline-block;
        }
      }

      .row-control {
        display: none;
        position: absolute;
        right: -25px;
        cursor: pointer;

        .row-control-remove {
          background-color: transparent;
          font-size: medium;
          color: $btn-color-disabled;

          &:hover {
            color: $btn-remove-bgcolor-hover;
          }

        }

        &:hover {
          display: inline-block;
        }
      }
    }

    & td {
      border: 1px solid darken($primary-color, 25%);
      vertical-align: top;
      text-align: left;
    }
  }

  rd-image.image-wrapper {
    display: block;
    margin: 0;
    border: none;
    text-align: center;

    & > img {
      padding: 0;
    }

    .block-control {
      right: 2.5%;
      top: -4px;
    }
  }
  rd-attachment-input.attachmentInput,
  rd-image-input.imageInput {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: $primary-color;
  }

  rd-attachment {
    margin: 0;
  }

  & > .block-control {
    font-size: $main-font-size;
    display: flex;
    position: absolute;
    right: 0;
    top: -18px;

    & > .block-control-add-row,
    .block-control-add-column {
      background-color: $btn-remove-bgcolor;
      color: $btn-color;

      &:hover:enabled {
        background-color: darken($btn-valid-bgcolor, $hover-darken-value);
      }
    }
  }
}