.toolbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: darken($primary-color, 1%);
  box-shadow: $toolbar-outer-shadow;
  border-bottom: 3px solid $second-color;
  z-index: 10;
}

.btn-gp {
  display: flex;
  border-right: 3px solid lighten($primary-color, 5%);
  height: 100%;

  &:last-child {
    border-right: none;
  }

  button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: $main-font-color;
  }

  &> button + button {
    margin-left: -5px;
  }

  & button:hover:enabled {
    background-color: darken($primary-color, 10%);
    box-shadow: 0 3px 0 $third-color;
    color: $third-color;
  }

  &> button:active:enabled {
    background-color: darken($primary-color, 20%);
    box-shadow: 0 3px darken($third-color, 10%);
    color: $third-color;
  }

  &> button:disabled {
    opacity: 0.3;
  }
}