rd-division {

  &.unknown {
    display: flex;
    padding: 5px;
    position: relative;
    margin-left: $unknown-division-margin-left;
    background-color: $unknown-division-bgcolor;
    border: 2px dashed;
    color: $unknown-font-color;
    font-family: $unknown-font;
    font-size: $unknown-font-size;

    text-shadow: 0 1px white;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;

    & .link {
      color: $unknown-font-color;
      text-decoration: none;
    }
  }
}