
.olist[numbering]:before {
    content: attr(numbering);
}

.division.default > .hierarchical_0 {
    margin-top: 0;
    margin-bottom: 16px;
}

.division.default > .hierarchical_1, .division.default > .hierarchical_2, .division.default > .hierarchical_3, .division.default > .hierarchical_4, .division.default > .hierarchical_5, .division.default > .hierarchical_6 {
    position: relative;
    margin-top: 1em;
    font-weight: bold;
    line-height: 1.4;
}

.division.default > .hierarchical_1 {
    padding-bottom: 0.3em;
    margin-bottom: 16px;
    font-size: 24pt;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.division.default > .hierarchical_2 {
    padding-bottom: 0.3em;
    margin-bottom: 16px;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.division.default > .hierarchical_3 {
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.43;
}

.division.default > .hierarchical_4 {
    margin-bottom: 0.1em;
    font-size: 1.25em;
}

.division.default > .hierarchical_5 {
    margin-bottom: 0.2em;
    font-size: 1em;
}

.division.default > .hierarchical_6 {
    margin-bottom: 0.2em;
    font-size: 1em;
    color: #777;
}

.division.blockquote > .hierarchical_0 {
    padding-left: 0px;
}

.division.blockquote > .hierarchical_1:before {
    padding: 4px;
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 25px;
}

.division.blockquote > .hierarchical_2:before {
    padding: 4px;
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 40px;
}

.division.blockquote > .hierarchical_3:before {
    padding: 4px;
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 55px;
}

.division.blockquote > .hierarchical_4:before {
    padding: 4px;
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 70px;
}

.division.blockquote > .hierarchical_5:before {
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 85px;
}

.division.blockquote > .hierarchical_6:before {
    padding-right: 10px;
    font-size: 12pt;
    padding-left: 100px;
}

.olist_0:before {
    padding-right: 10px;
    padding-left: 25px;
}

.olist_1:before {
    padding-right: 10px;
    padding-left: 40px;
}

.olist_2:before {
    padding-right: 10px;
    padding-left: 55px;
}

.olist_3:before {
    padding-right: 10px;
    padding-left: 70px;
}

.olist_4:before {
    padding-right: 10px;
    padding-left: 85px;
}

.olist_5:before {
    padding-right: 10px;
    padding-left: 100px;
}

.olist_6:before {
    padding-right: 10px;
    padding-left: 115px;
}

.ulist_0:before {
    content: '\25CF';
    padding-right: 10px;
    padding-left: 25px;
}

.ulist_1:before {
    content: '\25CB';
    padding-right: 10px;
    padding-left: 40px;
}

.ulist_2:before {
    content: '\25A0';
    padding-right: 10px;
    padding-left: 55px;
}

.ulist_3:before {
    content: '\25A1';
    padding-right: 10px;
    padding-left: 70px;
}

.ulist_4:before {
    content: '-';
    padding-right: 10px;
    padding-left: 85px;
}

.ulist_5:before {
    content: '\2192';
    padding-right: 10px;
    padding-left: 100px;
}

.ulist_6:before {
    content: '\2666';
    padding-right: 10px;
    padding-left: 115px;
}

.link {
    color: #4183C4;
}

.link:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background: #FFFF00;
}

.comment {
    background: #87CEFA;
}

.spelling-error {
    border-bottom: 2px dotted red;
}

.grammar-error {
    border-bottom: 2px dotted green;
}

.code {
    padding-top: 0.2em;
    padding-right: 0px;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.code:after, .code:before {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.strike {
    text-decoration: line-through;
}

.strike.underline {
    text-decoration: line-through underline;
}

.strike.link {
    text-decoration: line-through underline;
}

.division.blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    margin-bottom: 16px;
    overflow-y: hidden;
}

.division.code {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 16px;
    overflow-y: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    width: 980px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

span {
    white-space: pre;
}

body {
    margin: auto;
}

.division.default > .hierarchical_1:before, .division.default > .hierarchical_2:before, .division.default > .hierarchical_3:before, .division.default > .hierarchical_4:before, .division.default > .hierarchical_5:before, .division.default > .hierarchical_6:before {
    content: attr(numbering);
    margin-right: 10px;
}