// Utility variables
$hover-darken-value: 10%;
$shadow-darken-value: 10%;

// Font, font color & font size
$main-font: 'Open Sans', sans-serif;
$main-font-size: 12pt;
$main-font-weight: 100;

$title-font: 'Open Sans Condensed', sans-serif;

$code-font: 'Inconsolata', monospace;
$code-font-size: 12pt;
$code-font-weight: 100;

$unknown-font: 'Inconsolata', monospace;
$unknown-font-size: 12pt;
$unknown-font-weight: 100;

// Inputs
$input-padding: 10px;
$input-font-size: 12px;
$input-bgcolor: #FFFFFF;

//  - Image Input
$image-input-height: 180px;
$image-input-width: 400px;

//  - Attachment Input
$attachment-input-height: 90px;

// Block sizing
$editor-width: 950px;
$editor-padding: 0 20px 20px 20px;

// Margins
$editor-margin: 70px auto 10px auto;
$division-margin: 10px auto 10px 20px;
$code-division-margin-left: 40px;
$unknown-division-margin-left: 40px;
$table-margin: 20px 0 10px 0;

// Paddings
$division-padding: 2px 5px;

// Title style
$title-margin-top: 20px;
$title-margin-bottom: 10px;

$level-1-font-size: 35px;
$level-1-margin-left: 25px;

$level-2-font-size: $level-1-font-size - 5px;
$level-2-margin-left: $level-1-margin-left + 15px;

$level-3-font-size: $level-1-font-size - 5px;
$level-3-margin-left: $level-2-margin-left + 15px;

$level-4-font-size: $level-3-font-size - 5px;
$level-4-margin-left: $level-3-margin-left + 15px;

$level-5-font-size: $level-4-font-size - 5px;
$level-5-margin-left: $level-4-margin-left + 15px;

$level-6-font-size: $level-5-font-size - 5px;
$level-6-margin-left: $level-5-margin-left + 15px;

// List style
$before-padding-right: 10px;

$list-0-padding-left: 25px;
$list-1-padding-left: $list-0-padding-left + 15px;
$list-2-padding-left: $list-1-padding-left + 15px;
$list-3-padding-left: $list-2-padding-left + 15px;
$list-4-padding-left: $list-3-padding-left + 15px;
$list-5-padding-left: $list-4-padding-left + 15px;
$list-6-padding-left: $list-5-padding-left + 15px;

// Transition
$ease: all 0.3s ease 0s;

