/*
 * Adapting pattern 7-1 from https://sass-guidelin.es/fr/#architecture
 */
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url(fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Cond Light"), local("OpenSans-CondLightItalic"), url(fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url(fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body,
#redige-editor {
  color: #173247;
  background-color: #e7e7e7 !important;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  font-weight: 100; }

#redige-editor * {
  box-sizing: content-box; }

#redige-editor div[contenteditable] {
  outline: none; }

#redige-editor ::selection {
  background: #ffc299; }

.hide {
  display: none; }

rd-attachment {
  display: flex;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px; }
  rd-attachment:not(.edit) {
    background-color: #ececec; }
  rd-attachment.edit {
    align-self: center; }
  rd-attachment > div {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px; }
  rd-attachment > div > .attachment-icon {
    font-size: 25px;
    padding-right: 15px; }
  rd-attachment > div > .attachment-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center; }
  rd-attachment > div > .attachment-link:hover {
    text-decoration: underline; }
  rd-attachment > div > .block-control {
    font-size: 12pt;
    display: none;
    position: absolute;
    right: 0;
    top: 0; }
  rd-attachment:hover > div > .block-control {
    display: flex; }
  rd-attachment > div > .spacer {
    flex-grow: 2; }

.block-control-remove,
.block-control-add-column,
.block-control-add-row,
.block-control-edit,
.block-control-valid {
  font: -webkit-small-control;
  font: medium; }

#linkInput button,
.toolbar button,
#redige-editor button {
  border: none;
  transition: all 0.3s ease 0s; }
  #linkInput button:hover:enabled,
  .toolbar button:hover:enabled,
  #redige-editor button:hover:enabled {
    cursor: pointer; }
  #linkInput button:focus,
  .toolbar button:focus,
  #redige-editor button:focus {
    outline: 0; }
  #linkInput button:disabled,
  .toolbar button:disabled,
  #redige-editor button:disabled {
    opacity: 0.5;
    color: #939393; }

.linkInput-btnValid,
.imageInput-linkUrlBtn,
.block-control-valid,
.block-control-add-row,
.block-control-add-column {
  background-color: #24dd49;
  color: #FFFFFF; }
  .linkInput-btnValid:hover:enabled,
  .imageInput-linkUrlBtn:hover:enabled,
  .block-control-valid:hover:enabled,
  .block-control-add-row:hover:enabled,
  .block-control-add-column:hover:enabled {
    background-color: #1cb23a; }

.linkInput-btnRemove,
.block-control-remove {
  background-color: #bab4bb;
  color: #939393; }
  .linkInput-btnRemove:hover:enabled,
  .block-control-remove:hover:enabled {
    background-color: #FF6347;
    color: #FFFFFF; }

.block-control-edit {
  background-color: #3366BB;
  color: #FFFFFF; }
  .block-control-edit:hover:enabled {
    background-color: #285093; }

.linkInput-btnGoTo {
  background-color: transparent;
  color: #a1a2a2; }
  .linkInput-btnGoTo:hover:enabled {
    color: #3366BB; }
  .linkInput-btnGoTo:disabled {
    opacity: 0; }

rd-section > .link {
  color: #FF6700;
  text-decoration: underline; }
rd-section > .bold {
  font-weight: bold; }
rd-section > .italic {
  font-style: italic;
  color: #1d405a;
  background-color: rgba(23, 50, 71, 0.1);
  padding-left: 2px;
  padding-right: 2px; }
rd-section > .highlight {
  background: #FFC66D;
  color: #272822; }
rd-section > .comment {
  background: #87CEFA; }
rd-section > .spelling-error {
  border-bottom: 2px dotted red; }
rd-section > .grammar-error {
  border-bottom: 2px dotted green; }
rd-section > .code {
  background-color: #f4f4f4;
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
  color: #cc2b42;
  border-radius: 3px;
  padding: 2px; }
rd-section > .code + .code.bold, rd-section .code + .code {
  padding-right: 0;
  padding-left: 0; }
rd-section.hierarchical:not(.level-0) > .code {
  font-size: inherit; }

rd-division {
  display: flex;
  flex-direction: column;
  padding: 2px 5px;
  margin: 10px auto 10px 20px; }
  rd-division > .block-control {
    font-size: 12pt;
    display: none;
    position: absolute;
    right: 0;
    margin-top: -5px; }
  rd-division:hover > .block-control {
    display: flex; }

/**
 * Inspired from prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
rd-division.blockcode {
  display: flex;
  padding: 5px;
  position: relative;
  margin-left: 40px;
  background-color: #f5f2f0;
  border: 1px solid #ccbdb3;
  border-left: 4px solid #ccbdb3;
  color: #1c4059;
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none; }
  rd-division.blockcode .link {
    color: #1c4059;
    text-decoration: none; }
rd-division .code-syntax-comment,
rd-division .code-syntax-prolog,
rd-division .code-syntax-doctype,
rd-division .code-syntax-cdata {
  color: slategray; }
rd-division .code-syntax-punctuation {
  color: #999; }
rd-division .code-syntax-namespace {
  opacity: .7; }
rd-division .code-syntax-property,
rd-division .code-syntax-tag,
rd-division .code-syntax-boolean,
rd-division .code-syntax-number,
rd-division .code-syntax-constant,
rd-division .code-syntax-symbol,
rd-division .code-syntax-deleted {
  color: #905; }
rd-division .code-syntax-selector,
rd-division .code-syntax-attr-name,
rd-division .code-syntax-string,
rd-division .code-syntax-char,
rd-division .code-syntax-builtin,
rd-division .code-syntax-inserted {
  color: #690; }
rd-division .code-syntax-operator,
rd-division .code-syntax-entity,
rd-division .code-syntax-url {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }
rd-division .code-syntax-atrule,
rd-division .code-syntax-attr-value,
rd-division .code-syntax-keyword {
  color: #07a; }
rd-division .code-syntax-function {
  color: #DD4A68; }
rd-division .code-syntax-regex,
rd-division .code-syntax-important,
rd-division .code-syntax-variable {
  color: #e90; }
rd-division .code-syntax-important,
rd-division .code-syntax-bold {
  font-weight: bold; }
rd-division .code-syntax-italic {
  font-style: italic; }
rd-division .code-syntax-entity {
  cursor: help; }

span {
  white-space: pre-wrap; }

#editor {
  width: 950px;
  margin: 70px auto 10px auto;
  padding: 0 20px 20px 20px;
  outline: none; }

/* http://codepen.io/ArtemGordinsky/pen/GnLBq */
.fake-cursor-right::after,
.fake-cursor-left::before {
  content: "";
  animation: 1s blink step-end infinite;
  border-right: inherit;
  border-right-width: 1px;
  border-right-style: solid;
  margin-right: -1px; }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: inherit; } }
.division.blockquote > rd-image.image-wrapper:hover {
  background-color: #204562; }

.division.code > rd-image.image-wrapper:hover {
  background-color: white; }

.division.unknown > rd-image.image-wrapper:hover {
  background-color: white; }

rd-image {
  display: block;
  text-align: center; }
  rd-image > .image-wrapper {
    display: inline-block;
    margin: 25px;
    align-self: center;
    position: relative;
    border: 1px solid #cdcdcd; }
    rd-image > .image-wrapper > img {
      max-width: 95%;
      max-height: 400px;
      padding: 18px; }
    rd-image > .image-wrapper:hover {
      background-color: #ececec; }
    rd-image > .image-wrapper > .block-control {
      position: absolute;
      top: -4px;
      right: 0; }
    rd-image > .image-wrapper:not(:hover) > .block-control {
      display: none; }

#linkInput input,
#redige-editor input {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 12px;
  border: none;
  background-color: #FFFFFF;
  padding: 10px; }

#linkInput input:focus,
#redige-editor input:focus {
  outline: none; }

.attachmentInput,
.imageInput {
  margin: 15px auto 15px auto;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 180px;
  padding: 10px;
  box-shadow: 0 0 10px 0 #c1c1c1;
  opacity: 0;
  transition: all 0.3s ease 0s; }
  .attachmentInput.dragover,
  .imageInput.dragover {
    background-color: #FFCD00;
    border: 1px dashed #2168FF; }
  .attachmentInput > .block-control,
  .imageInput > .block-control {
    position: absolute;
    top: -4px;
    right: 0; }

.attachmentInput {
  height: 90px; }

.attachmentInput-created,
.imageInput-created {
  opacity: 1; }

.imageInput-linkUrlDiv {
  font-size: 12px;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .imageInput-linkUrlDiv.imageInput-linkUrlDiv-notValid {
    outline: 2px solid red;
    color: red; }
    .imageInput-linkUrlDiv.imageInput-linkUrlDiv-notValid:after {
      content: "Format d'image non pris en charge";
      width: 90%;
      text-align: center;
      position: absolute;
      bottom: 45%;
      left: 5%; }

.imageInput-linkUrl {
  flex-grow: 2; }

.attachmentFile,
.imageFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.attachmentFile + .attachmentFile-label,
.imageFile + .imageFile-label {
  width: 85%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  background-color: #3366BB;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.attachmentFile:focus + .attachmentFile-label,
.attachmentFile + .attachmentFile-label:hover,
.imageFile:focus + .imageFile-label,
.imageFile + .imageFile-label:hover {
  background-color: #285093; }

.attachmentFile > span,
.imageInput > span {
  user-select: none; }

.linkInput {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 #c1c1c1;
  width: 400px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  animation: fadeIn 0.5s ease-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.linkInput-urlDiv {
  flex-grow: 2;
  display: flex; }

.linkInput-url {
  flex-grow: 2; }

rd-division:not(.code).blockquote {
  position: relative;
  padding: 5px;
  margin-left: 40px;
  background-color: #173247;
  border: 1px solid #306894;
  border-left: 4px solid #306894;
  font-style: italic;
  color: #E7B91B; }
  rd-division:not(.code).blockquote .italic {
    color: #E7B91B; }
  rd-division:not(.code).blockquote .code {
    font-style: normal;
    background-color: #234d6e;
    color: #E7B91B; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-1 {
    color: #E7B91B;
    border-bottom: 1px solid #E7B91B; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-2 {
    color: #e0b318;
    border-bottom: 1px dotted #E7B91B; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-3 {
    color: #d7ac17; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-4 {
    color: #cea416; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-5 {
    color: #c59d15; }
  rd-division:not(.code).blockquote > rd-section.hierarchical.level-6 {
    color: #bb9614; }

rd-document > rd-section {
  display: block; }
  rd-document > rd-section:focus {
    outline: none; }
rd-document > rd-section.hierarchical:not(.level-0) {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px; }
  rd-document > rd-section.hierarchical:not(.level-0):before {
    padding-right: 10px;
    content: attr(numbering); }
rd-document > rd-section.hierarchical.level-0 {
  padding-left: 0px; }
rd-document > rd-section.hierarchical.level-1 {
  font-size: 35px;
  margin-left: 25px;
  color: #173247;
  border-bottom: 1px solid #173247; }
  rd-document > rd-section.hierarchical.level-1:before {
    font-size: 35px; }
rd-document > rd-section.hierarchical.level-2 {
  font-size: 30px;
  margin-left: 40px;
  color: #152d3f;
  border-bottom: 1px dotted #173247; }
  rd-document > rd-section.hierarchical.level-2:before {
    font-size: 30px; }
rd-document > rd-section.hierarchical.level-3 {
  font-size: 30px;
  margin-left: 55px;
  color: #122738; }
  rd-document > rd-section.hierarchical.level-3:before {
    font-size: 30px; }
rd-document > rd-section.hierarchical.level-4 {
  font-size: 25px;
  margin-left: 70px;
  color: #102230; }
  rd-document > rd-section.hierarchical.level-4:before {
    font-size: 25px; }
rd-document > rd-section.hierarchical.level-5 {
  font-size: 20px;
  margin-left: 85px;
  color: #0d1c28; }
  rd-document > rd-section.hierarchical.level-5:before {
    font-size: 20px; }
rd-document > rd-section.hierarchical.level-6 {
  font-size: 15px;
  margin-left: 100px;
  color: #0b1720; }
  rd-document > rd-section.hierarchical.level-6:before {
    font-size: 15px; }
rd-document > rd-section.olist:before {
  content: attr(numbering);
  padding-right: 10px;
  font-size: 12px; }
rd-document > rd-section.olist.level-0:before {
  padding-left: 25px; }
rd-document > rd-section.olist.level-1:before {
  padding-left: 40px; }
rd-document > rd-section.olist.level-2:before {
  padding-left: 55px; }
rd-document > rd-section.olist.level-3:before {
  padding-left: 70px; }
rd-document > rd-section.olist.level-4:before {
  padding-left: 85px; }
rd-document > rd-section.olist.level-5:before {
  padding-left: 100px; }
rd-document > rd-section.olist.level-6:before {
  padding-left: 115px; }
rd-document > rd-section.ulist:before {
  padding-right: 10px;
  font-size: 12px; }
rd-document > rd-section.ulist.level-0:before {
  content: '\25CF';
  padding-left: 25px; }
rd-document > rd-section.ulist.level-1:before {
  content: '\25CB';
  padding-left: 40px; }
rd-document > rd-section.ulist.level-2:before {
  content: '\25A0';
  padding-left: 55px; }
rd-document > rd-section.ulist.level-3:before {
  content: '\25A1';
  padding-left: 70px; }
rd-document > rd-section.ulist.level-4:before {
  content: '-';
  padding-left: 85px; }
rd-document > rd-section.ulist.level-5:before {
  content: '\2192';
  padding-left: 100px; }
rd-document > rd-section.ulist.level-6:before {
  content: '\2666';
  padding-left: 115px; }

rd-table {
  display: flex;
  position: relative;
  margin: 20px 0 10px 0; }
  rd-table > table {
    table-layout: fixed;
    border-collapse: collapse;
    word-break: break-all;
    width: 100%; }
    rd-table > table tbody {
      width: 100%; }
    rd-table > table tr {
      width: 100%; }
      rd-table > table tr:hover .row-control {
        display: inline-block; }
      rd-table > table tr .row-control {
        display: none;
        position: absolute;
        right: -25px;
        cursor: pointer; }
        rd-table > table tr .row-control .row-control-remove {
          background-color: transparent;
          font-size: medium;
          color: #939393; }
          rd-table > table tr .row-control .row-control-remove:hover {
            color: #FF6347; }
        rd-table > table tr .row-control:hover {
          display: inline-block; }
    rd-table > table td {
      border: 1px solid #9a9a9a;
      vertical-align: top;
      text-align: left; }
  rd-table rd-image.image-wrapper {
    display: block;
    margin: 0;
    border: none;
    text-align: center; }
    rd-table rd-image.image-wrapper > img {
      padding: 0; }
    rd-table rd-image.image-wrapper .block-control {
      right: 2.5%;
      top: -4px; }
  rd-table rd-attachment-input.attachmentInput,
  rd-table rd-image-input.imageInput {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #DADADA; }
  rd-table rd-attachment {
    margin: 0; }
  rd-table > .block-control {
    font-size: 12pt;
    display: flex;
    position: absolute;
    right: 0;
    top: -18px; }
    rd-table > .block-control > .block-control-add-row,
    rd-table > .block-control .block-control-add-column {
      background-color: #bab4bb;
      color: #FFFFFF; }
      rd-table > .block-control > .block-control-add-row:hover:enabled,
      rd-table > .block-control .block-control-add-column:hover:enabled {
        background-color: #1cb23a; }

.toolbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #d7d7d7;
  box-shadow: 0 5px 10px 0 #c1c1c1;
  border-bottom: 3px solid #FFCD00;
  z-index: 10; }

.btn-gp {
  display: flex;
  border-right: 3px solid #e7e7e7;
  height: 100%; }
  .btn-gp:last-child {
    border-right: none; }
  .btn-gp button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: #173247; }
  .btn-gp > button + button {
    margin-left: -5px; }
  .btn-gp button:hover:enabled {
    background-color: #c1c1c1;
    box-shadow: 0 3px 0 #2168FF;
    color: #2168FF; }
  .btn-gp > button:active:enabled {
    background-color: #a7a7a7;
    box-shadow: 0 3px #004ced;
    color: #2168FF; }
  .btn-gp > button:disabled {
    opacity: 0.3; }

rd-division.unknown {
  display: flex;
  padding: 5px;
  position: relative;
  margin-left: 40px;
  background-color: #f5f2f0;
  border: 2px dashed;
  color: #1c4059;
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none; }
  rd-division.unknown .link {
    color: #1c4059;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
