// Application's colors
$primary-color: #DADADA;
$second-color: #FFCD00;
$third-color: #2168FF;
$fourth-color: #FF6700;

$main-font-color: #173247;
$code-font-color: #1c4059;
$quote-font-color: #E7B91B;
$unknown-font-color: #1c4059;

$code-inline-font-color: #cc2b42;
$unknown-inline-font-color: #cc2b42;

$selection-color: lighten($fourth-color, 30%);

$outer-box-shadow: 0 0 10px 0 darken($primary-color, $shadow-darken-value);
$inner-box-shadow: inset 0 5px 2px 0 darken($primary-color, $shadow-darken-value);
$toolbar-outer-shadow: 0 5px 10px 0 darken($primary-color, $shadow-darken-value);

$code-division-bgcolor: #f5f2f0;;
$blockquote-division-bgcolor: #173247;
$unknown-division-bgcolor: #f5f2f0;;

$btn-hover-shadow: inset 0 0 5px 5px darken($primary-color, 20%);

$bad-color: #FF6347;

// Button's style
$btn-valid-bgcolor: #24dd49;
$btn-remove-bgcolor: #bab4bb;
$btn-remove-bgcolor-hover: $bad-color;
$btn-default-bgcolor: #3366BB;
$btn-disabled-bgcolor: #939393;
$btn-transparent-bgcolor: rgba(0,0,0,0);

$btn-color: #FFFFFF;
$btn-color-disabled: #939393;
$btn-transparent-color: #a1a2a2;

$btn-opacity-disabled: 0.5;
$btn-opacity-transparent-disabled: 0;