
rd-section > .link {
    color: #CB772F;
    text-decoration: underline;
}

rd-section > .bold {
    font-weight: bold;
}

rd-section > .italic {
    font-style: italic;
}

rd-section > .highlight {
    background: #FFC66D;
    color: #272822;
}

rd-section > .comment {
    background: #87CEFA;
}

rd-section > .spelling-error {
    border-bottom: 2px dotted red;
}

rd-section > .grammar-error {
    border-bottom: 2px dotted green;
}

rd-section > .code {
    background-color: #525657;
    font-family: monospace;
}

rd-section > .strike {
    text-decoration: line-through;
}