rd-division {
    padding: 2px 5px;
    overflow-y: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: block;
}

rd-division.default {
}

rd-division.blockcode {
    padding: 0 0 0 5px;
    background-color: #525657;
    border-left: 2px solid #717476;
    color: #828687;
    font-size: 12pt;
    font-family: monospace;
    margin-left: 40px;
}

rd-division.blockcode[contenteditable=true] {
    background-color: #e4eef1;
    border-left: 2px solid #717476;
    color: #484a4a;
    font-size: 12pt;
    font-family: monospace;
    margin-left: 40px;
}

rd-division.blockquote {
    background-color: #002b36;
    border-left: 2px solid #0A5062;
    font-size: 12pt;
    margin-left: 40px;
}

.code-control {
    display: flex;
    justify-content: flex-end;
    float: right;
}

.hide {
    display: none;
}

.code-control > button {
    border: none;
    border-radius: 0;
}

.code-control-valid {
    background-color: #24dd49;
    color: white;
}

.code-control-valid:disabled {
    opacity: 0.5;
    color: rgb(147, 147, 147);
}

.code-control-valid:hover:enabled {
    background-color: #2cb62c;
}


.code-control-edit {
    background-color: rgb(213, 206, 214);
    color: rgb(177, 177, 177);
    color: white;
}

.code-control-edit:disabled {
    opacity: 0.5;
    color: rgb(147, 147, 147);
}

.code-control-edit:hover:enabled {
    background-color: #2168ff;
}

.code-control-remove {
    background-color: rgb(213, 206, 214);
    color: rgb(177, 177, 177);
}

.code-control-remove:hover:enabled {
    background-color: rgba(255, 99, 71, 1);
    color: white;
}