body {
    font-size: 12pt;
    color: #757879;
    background-color: #393939;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

rd-section {
    margin: 0;
}

span {
    white-space: pre-wrap;
}

.editable {
    outline: none;
}

::selection {
    background: #214283;
    color: #A9B7C6;
}

.body_contrast {
    background-color: #FDF6E3;
    color: #657b83;
    display: none;
}

#OutlineBar {
    height: 100%;
    width: 5px;
    background-color: #3D3F40;
    right: 0;
    position: fixed;
    z-index: 100;
    top: 0;
}

.outlineBarTag {
    cursor: pointer;
    height: 5px;
    width: 5px;
    background-color: #757879;
    right: 0;
    position: absolute;
    z-index: 101;
}

#editor {
    width: 950px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 0;
    outline: none;
}

/* http://codepen.io/ArtemGordinsky/pen/GnLBq */
.fake-cursor-right::after,
.fake-cursor-left::before {
    content: "";
    animation: 1s blink step-end infinite;
    border-right: inherit;
    border-right-width: 1px;
    border-right-style: solid;
    margin-right: -1px;
}

button:hover:enabled {
    cursor:pointer;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}
