.imageInput {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 150px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 10px #272727;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.imageInput-created {
    opacity: 1;
}

.imageInput > .imageRemove {
    top: 5px;
    right: 10px;
}

.imageInput-linkUrlDiv {
    font-size: 11px;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

.imageInput-linkUrl {
    flex-grow: 2;
    font: inherit;
    padding: 10px;
    border: none;
}

.imageInput-linkUrl:focus {
    outline: none;
}

.imageInput-linkUrlBtn {
    border: none;
    border-radius: 0;
    background-color: #24dd49;
    color: white;
}

.imageInput-linkUrlBtn:disabled {
    opacity: 0.5;
    color: rgb(147, 147, 147);
}

.imageInput-linkUrlBtn:hover:enabled {
    background-color: #2cb62c;
}

.imageFile {
    height: 20px;
}

.imageInput > span {
    user-select: none;
}