.linkInput {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #000000;
    width: 400px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.linkInput-urlDiv {
    flex-grow: 2;
    display: flex;
}

.linkInput-url {
    flex-grow: 2;
    border: none;
    border-left: 1px #CCCCCC solid;
    padding: 10px;
}

.linkInput-url:focus {
    outline: none;
}

.linkInput button {
    border: none;
    border-radius: 0;
}

.linkInput-btnGoTo {
    border: none;
    background-color: inherit;
    color: rgba(177, 177, 177, 0.5);
}

.linkInput-btnGoTo:hover:enabled {
    color: #3366BB;
}

.linkInput-btnGoTo:disabled {
    opacity: 0;
}

.linkInput-btnRemove {
    background-color: rgb(213, 206, 214);
    color: rgb(177, 177, 177);
}

.linkInput-btnRemove:hover:enabled {
    background-color: rgba(255, 99, 71, 1);
    color: white;
}

.linkInput-btnValid {
    background-color: #24dd49;
    color: white;
}

.linkInput-btnValid:disabled {
    opacity: 0.5;
    color: rgb(147, 147, 147);
}

.linkInput-btnValid:hover:enabled {
    background-color: #2cb62c;
}

