rd-section {
  margin: 0;
}

.document {
  display: flex;
  flex-direction: column;
}

rd-image, rd-section {
  display: block;
}

rd-image.image-wrapper {
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 20px;
  align-self: center;
  position: relative;
}

rd-image.image-wrapper > img {
  max-width: 95%;
  max-height: 400px;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

rd-image.image-wrapper[ratio]:before {
  content: attr(ratio);
  background-color: white;
  color: black;
  opacity: 0.7;
  padding: 3px;
  margin: 15px;
  margin-right: -54px;
  border-bottom-left-radius: 5px;
  top: -20px;
  position: relative;
}

.section.image-wrapper > .imageRemove {
  top: 25px;
  right: 30px;
}

.imageRemove {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
}

.imageRemove:hover {
  color: #000000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.division.default {
  display: flex;
  flex-direction: column;
}

.default {
  & > rd-section.hierarchical {
    &:not(.level-0) {
      font-weight: 500;
      line-height: 1.1;
      &:before {
        content: attr(numbering);
      }
    }

    &.level-0 {
      padding-left: 0px;
    }

    &.level-1 {
      font-size: 36px;
      margin-left: 25px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid #757879;
      &:before {
        padding-right: 10px;
        font-size: 36px;
      }
    }

    &.level-2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 40px;
      border-bottom: 1px dotted #757879;
      &:before {
        padding-right: 10px;
        font-size: 30px;
      }
    }

    &.level-3 {
      font-size: 24px;
      margin-left: 55px;
      margin-top: 20px;
      margin-bottom: 10px;
      &:before {
        padding-right: 10px;
        font-size: 24px;
      }
    }

    &.level-4 {
      font-size: 18px;
      margin-left: 70px;
      margin-top: 20px;
      margin-bottom: 10px;
      &:before {
        padding-right: 10px;
        font-size: 18px;
      }
    }

    &.level-5 {
      font-size: 14px;
      margin-left: 85px;
      margin-top: 10px;
      margin-bottom: 5px;
      &:before {
        padding-right: 10px;
        font-size: 14px;
      }
    }

    &.level-6 {
      font-size: 12px;
      margin-left: 100px;
      margin-top: 10px;
      margin-bottom: 5px;
      &:before {
        padding-right: 10px;
        font-size: 12px;
      }
    }
  }

  & > rd-section.olist {

    &:before {
      content: attr(numbering);
      padding-right: 10px;
      font-size: 12px;
    }

    &.level-0:before {
      padding-left: 25px;
    }

    &.level-1:before {
      padding-left: 40px;
    }

    &.level-2:before {
      padding-left: 55px;
    }

    &.level-3:before {
      padding-left: 70px;
    }

    &.level-4:before {
      padding-left: 85px;
    }

    &.level-5:before {
      padding-left: 100px;
    }

    &.level-6:before {
      padding-left: 115px;
    }
  }

  & > rd-section.ulist {
    &:before {
      padding-right: 10px;
      font-size: 12px;
    }

    &.level-0:before {
      content: '\25CF';
      padding-left: 25px;
    }

    &.level-1:before {
      content: '\25CB';
      padding-left: 40px;
    }

    &.level-2:before {
      content: '\25A0';
      padding-left: 55px;
    }

    &.level-3:before {
      content: '\25A1';
      padding-left: 70px;
    }

    &.level-4:before {
      content: '-';
      padding-left: 85px;
    }

    &.level-5:before {
      content: '\2192';
      padding-left: 100px;
    }

    &.level-6:before {
      content: '\2666';
      padding-left: 115px;
    }
  }

}