.toolbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #757879;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #393939;
    z-index: 10;
}

.btn-gp {
    display: flex;
    margin-left: 5px;
}

.btn-gp > button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-gp > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-gp > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-gp > button + button {
    margin-left: -1px;
}

.btn-gp > button:not(:last-child) {
    border-right-style: none;
}

.toolbar button {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #757879;
}

.toolbar button:hover:enabled {
    background-color: rgba(92, 92, 92, 0.7);
}

.toolbar button:disabled {
    opacity: 0.5;
}