body,
#redige-editor {
  color: $main-font-color;
  background-color: lighten($primary-color, 5%) !important;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
}

#redige-editor * {
  box-sizing: content-box;
}

#redige-editor div[contenteditable] {
  outline: none;
}

#redige-editor ::selection {
  background: $selection-color;
}

.hide {
  display: none;
}